<div class="d-flex flex-column position-relative section">
  <div class="d-flex flex-wrap w-100 mt">
    <div class="d-flex flex-column w-50 px">
      <div class="d-flex text-uppercase title fs-2">
        conheça nossas ações
      </div>
      <div class="d-flex text-content-width text-content text-justify">
        Nosso trabalho segue as ODS’s da Organização das Nações Unidas (ONU),
        visando assim conseguir resultados que tragam impacto não só na
        infância, mas sim por toda a vida!
      </div>
      <div class="d-flex flex-wrap icons-content-width gap-2 mt-3">
        <div class="d-flex gap-2">
          <img class="img-icon" src="assets/images/1.png">
          <img class="img-icon" src="assets/images/2.png">

        </div>
        <div class="d-flex gap-2">
          <img class="img-icon" src="assets/images/5.png">
          <img class="img-icon" src="assets/images/9.png">
        </div>
        <div class="d-flex gap-2">

          <img class="img-icon" src="assets/images/10.png">
          <img class="img-icon" src="assets/images/17.png">
        </div>
      </div>
    </div>
  </div>
</div>
