<div class="d-flex flex-wrap w-100 mt" id="action-container">
  <div class="d-flex flex-wrap w-100 auto-m our-actions-justify">
    <div class="d-flex flex-column auto-w auto-p">
      <div class="d-flex text-uppercase title fs-2">
        conheça nossas ações
      </div>
      <div class="d-flex text-content-width text-content text-justify">
        Nosso trabalho segue as ODS’s da Organização das Nações Unidas (ONU),
        visando assim conseguir resultados que tragam impacto não só na
        infância, mas sim por toda a vida!
      </div>
      <div class="d-flex flex-wrap icons-content-width gap-2 mt-3">
        <div class="d-flex gap-2">
          <img class="img-icon" src="assets/images/1.png">
          <img class="img-icon" src="assets/images/2.png">

        </div>
        <div class="d-flex gap-2">
          <img class="img-icon" src="assets/images/5.png">
          <img class="img-icon" src="assets/images/9.png">
        </div>
        <div class="d-flex gap-2">

          <img class="img-icon" src="assets/images/10.png">
          <img class="img-icon" src="assets/images/17.png">
        </div>
      </div>
      <div class="d-flex flex-row-reverse mt-5 ">
        <img class="img-smile" src="assets/images/icon-smile.png">
      </div>
    </div>
    <div class="d-flex carosel">
      <swiper-container class="mySwiper" space-between="10" slides-per-view="auto" pagination="true" navigation="true"
        pagination-clickable="false">
        <ng-container *ngFor="let post of imagesPost;">
          <swiper-slide>
            <img (click)="goToPost(post.post)" class="cursor-pointer img-swiper" [src]="post.img">
          </swiper-slide>
        </ng-container>
      </swiper-container>
    </div>
  </div>
  <div class="position-absolute traslate-spiral">
    <img class="img-spiral" src="assets/images/icon-spiral.png">
  </div>
  <div class="d-flex mt-5">
    <img class="img-wave" src="assets/images/icon-wave.png">
  </div>

  <div class="box">
    <section class="box-container">
      <div class="box-box-container">
        <div class="logo-box">
          <img src="../../../assets/images/logo-criar.png" alt="">
        </div>
        <div class="main-image">
          <img src="../../../assets/images/carosel-1.png" alt="">
        </div>
        <p class="text-content">O espaço é totalmente voltado para o desenvolvimento da criança com foco na primeira infância, e oferta atividades ricas em ludicidade e interatividade em diferentes espaços. Período da vida que vai do nascimento aos seis anos de idade, a primeira infância é uma das maiores prioridades da atual gestão municipal.</p>
      </div>
    </section>

    <div class="middle-line"></div>

    <section class="box-container">
      <div class="box-box-container">
        <div class="logo-box">
          <img src="../../../assets/images/logo-semana-do-bebe.png" alt="">
        </div>
        <div class="main-image">
          <img src="../../../assets/images/carosel-2.png" alt="">
        </div>
        <p class="text-content">Fortalecer políticas públicas focando o cuidado, prevenção e proteção é essencial para garantir o desenvolvimento da criança nos primeiros anos de vida. Há dez anos, a Prefeitura do Recife, em uma parceria importante com o Fundo das Nações Unidas para a Infância (Unicef), promove a Semana do Bebê do Recife.</p>
      </div>
    </section>
    <section></section>
    <div class="position-absolute position-spiral">
      <img class="img-spiral-2" src="assets/images/icon-spiral-2.png" alt="">
    </div>
  </div>
</div>
