$space: 1rem;

.title {
  font-family: "BROmny-Bold";
  color: #0b5ba4;
}

.text-content {
  font-family: "BROmny-Regular";
  font-size: 1.2rem;
  text-align: justify;
}

.traslate-spiral {
  transform: translate(0%, -30%) !important;
}

.position-spiral {
  bottom: -65%;
  left: 0%;
}

.our-actions-justify{
  justify-content: space-between;
}

.img-spiral {
  width: 120px;
}

.img-spiral-2 {
  width: 5vw;
}

.auto-w {
  width: 50% !important;
}

.auto-m {
  margin-top: ($space * 11);
}

.auto-p {
  padding-left: ($space * 10);
}

.text-content-width {
  width: 90%;
}

.icons-content-width {
  width: 100%;
}

.img-wave {
  width: 99vw;
  background-size: contain;
}

.img-icon {
  width: 110px;
}

.img-smile{
  width: 160px;
}

.auto-p {
  width: 100%;
  height: 100%;
}

.carosel {
  width: 40vw;
  height: 450px;
}

.mySwiper {
  width: 40vw;
}

.swiper {
  width: auto !important;
  height: 10px !important;
}

swiper-slide {
  width: auto !important;
}
// ::slotted(swiper-slide)

.swiper-slide-active{
  width: auto !important;
}

.swiper-slide-prev {
  width: auto !important;
}

.swiper-slide-next {
  width: auto !important;
}

.swiper-slide:nth-child(2n) {
  width: 60% !important;
}

.swiper-slide:nth-child(3n) {
  width: 40% !important;
}

.img-swiper{
  height: 400px;
}

.content-one-width {
  width: 30vw;
  min-width: 350px;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.box-box-container p{
  margin-top: 1rem;
  width: 45rem;
}

.box-box-container{
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.logo-box{
  text-align: center;
  margin-bottom: 1rem;
}

.main-image img{
  width: 45rem;
  border-radius: 2rem;
}

.middle-line{
  margin-top: 30px;
  border-left: 1px solid #214768;
  height: 500px;
}


