.title {
  font-family: "BROmny-Bold";
  color: #0b5ba4;
}

.text-content {
  font-family: "BROmny-Regular";
  font-size: 1.2rem;
}

.mt {
  margin-top: 11rem;
}

.px {
  padding-left: 10rem;
}

.text-content-width {
  width: 90%;
}

.img-icon {
  width: 110px;
}




