<section class="section-container position-relative auto-p bg-img" id="about">

  <div class="content-wrapper d-flex w-100 h-100 text-white pt-3">

      <div class="text-box d-flex flex-column auto-w auto-m">
          <header class="title-container d-flex text-uppercase fs-2 flex-wrap gap-2 text-white mb-2">
              <h1 class="d-flex pt-1">Programa</h1>
              <h2 class="highlighted-text d-flex bg-white text-blue px-1 pt-1">Primeira</h2>
              <h2 class="highlighted-text d-flex bg-white text-blue px-1 pt-1">Infância</h2>
              <h1 class="d-flex pt-1">do</h1>
              <h1 class="d-flex pt-1">Recife</h1>
          </header>
          <p class="description text-white">
              O objetivo é fortalecer a Política Pública da Primeira Infância, atuando em diversas áreas para que o desenvolvimento integral e integrado das crianças de 0 a 6 anos seja efetivo.
          </p>
      </div>

      <div class="text-box d-flex flex-column auto-w auto-m mb-5">
          <h2 class="section-title fs-2">O que é?</h2>
          <p class="description text-justify">
              A Secretaria Executiva da Primeira Infância do Recife (SEPIN) tem como prioridade promover e fortalecer a Política Pública da Primeira Infância, atuando em diversas frentes e com muitas áreas numa espécie de ciranda, onde todos precisam estar de mãos dadas e na mesma sintonia para que o desenvolvimento integral e integrado das crianças de 0 a 6 anos seja efetivo. O Recife conta com um Plano Municipal de Primeira Infância, com duração de 10 anos (2020 - 2030), no qual estão descritas mais de 250 ações de vários setores públicos, privados e entidades da sociedade civil.
          </p>
      </div>

  </div>

  <div class="position-absolute top-100 heart-container translate-middle">
      <img src="assets/images/icon-heart.png" class="img-heart" alt="Ícone de coração representando o cuidado com a infância">
  </div>

</section>
