<main class="showcase">
    <section class="showcase-container-01">
        <h1 class="title">programa <span class="detail01">primeira </span> <span class="detail02">infância</span> do recife</h1>
        <p class="text">Tem o objetivo de fortalecer a Política Pública da Primeira Infância, atuando em diversas para que o desenvolvimento integral e integrado das crianças de 0 a 6 anos seja efetivo.</p>
    </section>
    <section class="showcase-container-02">
        <h1 class="title">O que é?</h1>
        <p class="text">A Secretaria Executiva da Primeira Infância do Recife (SEPIN) tem como prioridade promover e fortalecer a Política Pública da Primeira Infância, atuando em diversas frentes e com muitas áreas numa espécie de ciranda, onde todos precisam estar de mãos dadas e na mesma sintonia para que o desenvolvimento integral e integrado das crianças de 0 a 6 anos seja efetivo. O Recife conta com um Plano Municipal de Primeira Infância, com durabilidade de 10 anos (2020 -2030), no qual estão descritas mais de 250 ações de vários setores públicos, privados e entidades da sociedade civil.</p>
    </section>
    <div class="div position-absolute top-100 position-heart translate-middle">
      <img src="../../../assets/images/icon-heart.png" alt="img-heart">
    </div>
</main>

