$space: 1rem;

.bg-img {
    background-image: url("../../../assets/images/bg-what-is-it.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.section-container {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex-direction: column;
}

.auto-m {
    margin-left: ($space * 10);
    margin-top: ($space * 5);
}

.text-blue {
    color: #31A8D7;
    font-family: "BROmny-Bold";
}

.auto-w {
    width: 50%;
}

.img-heart {
    width: 160px;
}

.heart-container {
    right: -80px;
}

.section-title {
    font-family: "BROmny-Bold";
}

.description {
    font-family: "BROmny-Regular";

    font-size: 1.18rem;
}

.auto-p {
    padding-top: 80px;
}

@media only screen and (max-width: 1380px) {
    .auto-p {
        padding-top: 120px;
    }

    .auto-w {
        width: 70%;
    }

    .auto-m {
        margin-left: ($space * 5);
        margin-bottom: ($space * 2);
    }

    .img-heart {
        width: 110px;
    }

    .heart-container {
        right: -55px;
    }
}

@media only screen and (max-width: 1024px) {
    .description {
        width: 100%;
    }

    .auto-w {
        width: 100%;
    }

    .auto-m {
        margin: 0;
    }

    .title-container {
        justify-content: center;
      }

    .section-title{
      text-align: center;

    }

    .text-box {
        padding: 0 2rem 2rem;
        justify-content: flex-end;
        height: 100%;
        z-index: 44;
    }
}

@media only screen and (max-width: 850px) {
    .bg-img {
        background-position: -12rem;
    }
}

@media only screen and (max-width: 600px) {
    .img-heart {
        width: 80px;
    }

    .heart-container {
        right: -40px;
    }

    .text-box {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
