/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@font-face {
  font-family: "BROmny-Black";
  src: url("assets/fonts/BROmny-Black-BF65557eb8858b2.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "BROmny-BlackItalic";
  src: url("assets/fonts/BROmny-BlackItalic-BF65557eb86b2a6.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "BROmny-Bold";
  src: url("assets/fonts/BROmny-Bold-BF65557eb88a83f.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BROmny-BoldItalic";
  src: url("assets/fonts/BROmny-BoldItalic-BF65557eb89deb2.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BROmny-Light";
  src: url("assets/fonts/BROmny-Light-BF65557eb87f5b9.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BROmny-LightItalic";
  src: url("assets/fonts/BROmny-LightItalic-BF65557eb83985f.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BROmny-Medium";
  src: url("assets/fonts/BROmny-Medium-BF65557eb8745de.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BROmny-MediumItalic";
  src: url("assets/fonts/BROmny-MediumItalic-BF65557eb87a104.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BROmny-Regular";
  src: url("assets/fonts/BROmny-Regular-BF65557eb88143f.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BROmny-RegularItalic";
  src: url("assets/fonts/BROmny-RegularItalic-BF65557eb88d058.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BROmny-Regular";
  src: url("assets/fonts/BROmny-Regular-BF65557eb88143f.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BROmny-RegularItalic";
  src: url("assets/fonts/BROmny-RegularItalic-BF65557eb88d058.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "BROmny-SemiBold";
  src: url("assets/fonts/BROmny-SemiBold-BF65557eb890e9a.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BROmny-SemiBoldItalic";
  src: url("assets/fonts/BROmny-SemiBoldItalic-BF65557eb87ac46.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "BROmny-Thin";
  src: url("assets/fonts/BROmny-Thin-BF65557eb87d202.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BROmny-ThinItalic";
  src: url("assets/fonts/BROmny-ThinItalic-BF65557eb8898f8.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

.text-justify {
  text-align: justify;
}

.cursor-pointer {
  cursor: pointer;
}

google-map, .map-container {
  width: 100%!important;
  height: 750px!important;
}

.section {
  scroll-margin-top: 120px; /* Altura da navbar */
}

:root {
  --swiper-navigation-color: white !important;
}
